[Desktop Entry]
Name=Keybindings
GenericName=Keyboard Shortcuts
Comment=Workstation Keyboard Shortcuts Reference
Exec=workstation-keybindings
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Utility;Documentation;
Keywords=keybindings;hotkeys;shortcuts;help;keyboard;
